**/.terraform/**
**tfstate*
**/*.pem
terraform.tfvars
**/account.json
**/credentials
.DS_Store
.kitchen
.terraform
.terraform.tfstate.d
*.pyc

# JetBrains - PyCharm, IntelliJ, etc.
.idea/
__pycache__/
*.iml

*.json
