**/.terraform/**
**tfstate*
**/*.pem
terraform.tfvars
**/account.json
**/credentials
.DS_Store
.terraform
.terraform.tfstate.d
*.pyc
credentials*.json

# JetBrains - PyCharm, IntelliJ, etc.
.idea/
__pycache__/
*.iml
.project

# Kitchen files
**/inspec.lock
**/.kitchen
**/kitchen.local.yml
**/Gemfile.lock

# tf lock file
.terraform.lock.hcl
